/* 
Color Palette:
- Primary: #411420 / (65, 20, 32) (Dark Red)
- Secondary: #873260 / (135, 50, 96) (Boysenberry)
- Accent: #ffffe9 / (255, 255, 233) (Light Cream)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fffef8;
    color: #111;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Cormorant Garamond', serif;
}

main{
    max-width:1400px;
    margin:auto;
}

section {
    padding: 80px 10%;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 2px;
}

.section_title {
    color: #411420;
}

/* Navbar Style Start */

#navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar {
    
    padding: 25px 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(65, 20, 32, 0.93);
    backdrop-filter: blur(10px);
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 300px;
}

nav {
    display: flex;
    gap: 30px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav_link {
    text-decoration: none;
    color: #ffffe9;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.nav_link:hover {
    opacity: 0.6;
}

/* Navbar Style End */

/* Hero Section Style Start */

#hero_section {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#hero_text {
    text-align: center;
    text-transform: uppercase;
    color: #873260;
}

#hero_text h1 {
    font-size: 64px;
    letter-spacing: 8px;
}

#hero_text p {
    font-size: 12px;
    letter-spacing: 4px;
}

#hero_section_img {
    width: 180px;
    display: block;
}

/* Hero Section Style End */

/* Collection Section Style Start */

#collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#collection_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.collection_item {
    text-align: center;
    padding: 20px;
    transition: 0.3s ease;

    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border:1px solid rgba(0,0,0,0.05);

    color: rgba(65, 20, 32, 0.93);
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
}

.card_front,
.card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: opacity 0.65s ease, transform 0.65s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card_front {
    object-fit: cover;
    z-index: 2;

    opacity: 1;
    transform: scale(1);
}

.card_back {
    z-index: 1;
    opacity: 0;
    transform:translateY(15px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background: rgba(65, 20, 32, 0.93);
    color: #ffffe9;
    pointer-events:none;
}

.item_name {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.item_notes {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

.collection_item:hover .card_front {
    opacity: 0;
    pointer-events:none;
    transform: scale(1.05);
}

.collection_item:hover .card_back {
    opacity: 1;
    pointer-events:auto;
    transform:translateY(0);
}

.item_detail {
    text-decoration: none;
}

/* Collection Section Style End */

/* Featured Fragrance Section Style Start */

#featured_container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 60px;
}

#featured_img {
    flex: 1;
}

#featured_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

#featured_content {
    flex: 2;
    background-color: rgba(65, 20, 32, 0.93);
    color: #ffffe9;
    padding: 60px;
    font-weight: 100;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

#featured_title {
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#featured_tagline{
    font-size: 20px;
    margin-bottom: 20px;
}

#featured_description{
    margin-bottom:40px;
    text-align: justify;
}

#featured_explore,
.item_detail {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffe9;
    color: #411420;
    border: none;
    padding: 14px 32px;
    cursor: pointer;
    width: fit-content;

    transition: 0.3s ease;
}

#featured_explore:hover,
.item_detail:hover {
    background: #ffffe1;
}

/* Featured Fragrance Section Style End */

/* About Section Style Start */

#about_content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 60px;
}

#about_img {
    flex: 1;
    width: 100%;
    border-radius: 16px;
}

#about_text {
    flex: 2;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    background-color: rgba(65, 20, 32, 0.93);
    color: #ffffe9;
    padding: 60px;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

/* About Section Style End */

/* footer Section Style Start */

#footer {
    background-color: rgba(65, 20, 32, 0.93);
    color: #ffffe9;
    padding: 40px 5%;
    display: flex;
    margin-top: 60px;
    align-items: center;
}

#copyright,
#social {
    font-size: 18px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

#copyright {
    gap: 10px;
}

#copyright > span {
    font-size: 30px;
}

#social {
    margin-left: auto;
    gap: 20px;
}

#social_icon {
    color: #ffffe9;
    font-size: 30px;
}

/* footer Section Style End */

/* Product Details Style Start */

    #product_details {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        padding: 20px 40px;
    }

    #prod_images_container {
        display: flex;
        padding: 20px;
        background: rgba(65, 20, 32, 0.93);
        justify-content: center;
        align-items: center;
    }

    #prod_images {
        display: flex;
        gap: 20px;
    }

    .prod_img {
        /* flex: 1; */
        width: 100px;
        height: 300px;
        object-fit: cover;
        background: rgba(255, 255, 233, 0.93);
        transition: 0.5s ease;
    }

    .prod_img:hover {
        flex: 3;
        transform: scale(1.2);
    }

    #prod_title {
        font-size: 24px;
        font-weight: 500;
        color: #411420;
    }

    #product_size {
        display: flex;
        gap: 20px;
    }

    .prod_size_btn,
    #add_product {
        background-color: #411420;
        color: #ffffe9;
    }

    .prod_size_btn {
        padding: 10px 15px;
        cursor: pointer;
    }

    #prod_description {
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
    }

    .prod_desc_btn {
        background:none;

        border:none;

        cursor:pointer;

        color:#873260;

        padding:10px 0;
    }

    .prod_desc_btn.active {
        border-bottom: 2px solid #873260;
    }

    .prod_desc_content {
        display: none;
    }
    .prod_desc_content.active {
        display: block;
    }

    #add_product {
        font-size: 16px;
        padding: 10px;
        width: fit-content;
    }
/* Product Details Style End */

/* Mobile Responsive Style Start */

@media (max-width: 768px) {
    h2 {
            font-size: 28px;
    }

    #hero_text h1{
        font-size: 42px;
        letter-spacing: 4px;
    }

    section {
        padding: 60px 5%;
    }

    #featured_img img {
        width: 100%;
    }

    #navbar{
        flex-direction:column;
        gap:18px;
        padding:20px 5%;
    }

    nav ul{
        gap:18px;
        flex-wrap:wrap;
        justify-content:center;
    }

    #featured_container {
        flex-direction: column;
        text-align: center;
    }

    #featured_content {
        padding: 40px;
    }

    #featured_title {
        text-align: center;
    }

    #featured_tagline {
        font-size: 18px;
    }

    #about_content {
        flex-direction: column;
        gap: 20px;
    }

    #footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    #copyright,
    #social {
        justify-content: center;
        font-size: 14px;
    }

    #social {
        margin-left: 0;
    }
}

/* Mobile Responsive Style End */
